mat-card {
  margin: 16px;
}

mat-chip-list {
  position: absolute;
  right: 32px;
}

.table-container {
  margin-top: 16px;
  min-height: 400px;
}

.form-container {
  min-width: 800px;
}

mat-toolbar {
  min-height: 64px;
}
