<div fxLayout="row" fxLayoutAlign="start center">
  <div fxLayout="row" fxLayoutAlign="start center" *ngIf="decryptedValue; else isEncrypted">
    <button mat-icon-button color="primary" (click)="decryptedValue = ''" matTooltip="Encrypt">
      <mat-icon>lock_open</mat-icon>
    </button>
    <b>{{decryptedValue}}</b>
  </div>
  <ng-template #isEncrypted>
    <button *ngIf="employeeValue; else noValue" mat-flat-button color="primary" (click)="decrypt()" [disabled]="isProcessing">
      <mat-icon class="locked">{{isProcessing ? 'key' : 'lock'}}</mat-icon>{{isProcessing ? 'Decrypting...' : employeeValue}}
    </button>
    <ng-template #noValue>
      <div>Missing</div>
    </ng-template>
  </ng-template>
  <div *ngIf="!employeeValue || decryptedValue" fxLayout="row" fxFlexOffset="12px" fxLayoutAlign="start center">
    <button mat-icon-button color="accent" (click)="edit()" matTooltip="Edit" [disabled]="isProcessing">
      <mat-icon>edit</mat-icon>
    </button>
    <button *ngIf="employeeValue" mat-icon-button color="warn" (click)="remove()" matTooltip="Delete" [disabled]="isProcessing">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</div>
