<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
  <button *ngIf="decryptedValue" mat-icon-button color="primary" (click)="decryptedValue = ''" matTooltip="Encrypt">
    <mat-icon>lock_open</mat-icon>
  </button>
  <div *ngIf="editMode; else readMode" fxLayout="row" fxLayoutAlign="start center">
    <mat-form-field color="primary">
      <input #editInput="matInput" matInput [value]="decryptedValue" [disabled]="isProcessing" />
    </mat-form-field>
    <mat-spinner *ngIf="isProcessing; else saveBtn" diameter="25"></mat-spinner>
    <ng-template #saveBtn>
      <button mat-icon-button color="accent" matTooltip="Confirm" (click)="saveChanges(editInput)" [disabled]="!editInput.value">
        <mat-icon>check</mat-icon>
      </button>
    </ng-template>
  </div>
  <ng-template #readMode>
    <button *ngIf="!decryptedValue && employeeValue; else noValue" mat-flat-button color="primary" (click)="decrypt()" [disabled]="isProcessing">
      <mat-icon class="locked">{{isProcessing ? 'key' : 'lock'}}</mat-icon>{{isProcessing ? 'Decrypting...' : employeeValue}}
    </button>
    <ng-template #noValue>
      <b>{{decryptedValue || 'Missing'}}</b>
    </ng-template>
  </ng-template>
  <button *ngIf="decryptedValue || !employeeValue" mat-icon-button [color]="editMode ? 'warn' : 'accent'" (click)="toggleEditMode()" [matTooltip]="editMode ? 'Cancel' : 'Edit'" [disabled]="isProcessing">
    <mat-icon>{{editMode ? 'cancel' : 'edit'}}</mat-icon>
  </button>
</div>
