<mat-card class="demo-card" fxLayout="column">
  <h1 fxLayoutAlign="center center">Configuration</h1>
  <div style="height: 300px; overflow: auto;">
    <mat-grid-list rowHeight="200px" cols="3">
      <mat-grid-tile colspan="2">
        <h2>Data</h2>
        <div style="width: 100%" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
          <button mat-stroked-button (click)="refreshData$.next(refreshData$.value)">Refresh</button>
          <mat-form-field>
            <mat-label>Delay</mat-label>
            <input matInput [(ngModel)]="dataDelay" type="number" />
            <mat-hint>Milliseconds</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Rows</mat-label>
            <input matInput [(ngModel)]="rowCount" (ngModelChange)="refreshData$.next(rowCount)" type="number" min="0" max="1000000" />
            <mat-hint>0 - 1,000,000</mat-hint>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <h2>Width / Height</h2>
        <mat-slider min="400" max="2400" [(ngModel)]="width"></mat-slider>
        <mat-slider vertical min="300" max="1800" [(ngModel)]="height"></mat-slider>
      </mat-grid-tile>
      <mat-grid-tile>
        <h2>Export</h2>
        <mat-form-field>
          <mat-label>Filename</mat-label>
          <input matInput #filename (change)="exportConfig = filename ? { filename: filename.value } : undefined" />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <h2>Disable Feature</h2>
        <div fxLayout="column" style="width: 100%" fxLayoutGap="10px">
          <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
            <mat-checkbox [(ngModel)]="disableSelection">Selection</mat-checkbox>
            <mat-checkbox [(ngModel)]="disableSelectAll">Select All</mat-checkbox>
            <mat-checkbox [(ngModel)]="disableOptions">Options</mat-checkbox>
            <mat-checkbox [(ngModel)]="disableSearch">Search</mat-checkbox>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
            <mat-checkbox [(ngModel)]="disableRowClick">Row Click</mat-checkbox>
            <mat-checkbox (change)="rowMenuItems = rowMenuItems ? undefined : []">Row Menu</mat-checkbox>
            <mat-checkbox (change)="tableMenuItems = tableMenuItems ? undefined : []">Table Menu</mat-checkbox>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <h2>Sort</h2>
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
          <mat-form-field>
            <mat-label>Active</mat-label>
            <mat-select [value]="sort.active" (selectionChange)="sort = { active: $event.value, direction: sort.direction }">
              <mat-option value="">-</mat-option>
              <mat-option *ngFor="let column of columns" [value]="column.field">
                {{column.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Direction</mat-label>
            <mat-select [value]="sort.direction" (selectionChange)="sort = { active: sort.active, direction: $event.value }">
              <mat-option value="">-</mat-option>
              <mat-option value="asc">Ascending</mat-option>
              <mat-option value="desc">Descending</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <h2>Tooltip</h2>
        <mat-form-field>
          <mat-label>Row Tooltip</mat-label>
          <mat-select (selectionChange)="setRowTooltip($event.value)">
            <mat-option value="">-</mat-option>
            <mat-option *ngFor="let column of columns" [value]="column.field">
              {{column.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <h2>Color</h2>
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
          <mat-form-field>
            <mat-label>Row Text</mat-label>
            <input #textP matInput type="text" (change)="setTextPainter(textP.value)" />
            <mat-hint>Every even row (example)</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Row Background</mat-label>
            <input #rowP matInput type="text" (change)="setRowPainter(rowP.value)" />
            <mat-hint>Every other even row (example)</mat-hint>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <h2>Preselect</h2>
        <mat-button-toggle-group value="" (change)="setPreselect($event.value)">
          <mat-button-toggle value="">None</mat-button-toggle>
          <mat-button-toggle value="even">Even Rows</mat-button-toggle>
          <mat-button-toggle value="odd">Odd Rows</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</mat-card>

<mat-card class="demo-card" fxLayout="column">
  <h1 fxLayoutAlign="center center">Output Events</h1>
  <mat-list>
    <mat-list-item>
      <mat-icon mat-list-icon>ads_click</mat-icon>
      <div mat-line>Row Click</div>
      <div mat-line> {{ rowClickEvent | json }} </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>check_box</mat-icon>
      <div mat-line>Row Select</div>
      <div mat-line > {{ rowSelectEvent?.selection?.length }} </div>
    </mat-list-item>
  </mat-list>
</mat-card>

<mat-card [style.height.px]="height" [style.width.px]="width" class="mat-elevation-z5" fxLayout="column">

  <h1 fxLayoutAlign="center center">Example Table</h1>

  <vs-table
    id="test"
    [columns]="columns"
    [data]="data$ | async"
    [tableMenuItems]="tableMenuItems"
    [rowMenuItems]="rowMenuItems"
    [disableRowClick]="disableRowClick"
    [disableSelection]="disableSelection"
    [disableOptions]="disableOptions"
    [disableSearch]="disableSearch"
    [disableSelectAll]="disableSelectAll"
    [sort]="sort"
    [exportConfig]="exportConfig"
    [rowTooltip]="rowTooltip"
    [rowPainter]="rowPainter"
    [textPainter]="textPainter"
    [preselect]="preselect"
    [filter]="filter"
    [buttonColumns]="buttonColumns"
    (rowClick)="rowClickEvent = $event"
    (selectionChange)="rowSelectEvent = $event"
    fxFlex>
  </vs-table>

</mat-card>
