<div fxFlexFill fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between center" style="padding: 10px">
    <a mat-raised-button color="primary" routerLink="create">Create User</a>
    <mat-slide-toggle (change)="inactive$.next($event.checked)">Show Inactive</mat-slide-toggle>
  </div>
  <vs-table
    fxFlex
    id="users-list"
    [rowMenuItems]="rowMenu"
    [disableSelection]="true"
    [data]="users$ | async"
    (rowClick)="editUser($event.row)"
    [columns]="columns">
  </vs-table>
</div>
