mat-card {
  height: 600px;
  width: 400px;
}
.mat-raised-button {
  width: 200px;
}
.mat-form-field {
  width: 300px;
}
.mat-error {
  font-size: 16px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}
.login {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
