<div *ngIf="survey$ | async as survey">
  <div *ngIf="schema$ | async as schema" fxLayout="column" fxLayoutGap="16px">
    <div *ngIf="isSubmitting; else surveyContent" fxLayoutAlign="center center">
      <div *ngIf="isError; else noError" fxLayout="column" fxLayoutAlign="center center">
        <h1 class="mat-h1">Something went wrong while loading the survey</h1>
        <button mat-raised-button color="primary" (click)="reload()">RELOAD</button>
      </div>
      <ng-template #noError>
        <mat-spinner></mat-spinner>
      </ng-template>
    </div>
    <ng-template #surveyContent>
      <mat-card *ngIf="survey.locations && survey.locations.length > 1" [ngClass]="{'full-body': !(isHandset$ | async)}" class="btn-card" fxLayout="row" fxLayoutAlign="start center" routerLink="/">
        <mat-icon fxFlexOffset="16px" aria-label="Go back">arrow_back_ios</mat-icon>
        <h1>Select a different facility location</h1>
      </mat-card>
      <div *ngIf="isCompleted; else showSteps" fxLayoutAlign="center center" fxLayout="column" [ngStyle]="schema?.foregroundStyle || {}">
        <h1>Survey Completed!</h1>
        <p>Thank you for completing the survey<span *ngIf="forms[0] as nameForm">, {{nameForm.value['firstName']}} {{nameForm.value['lastName']}}</span>.</p>
        <h2 fxFlexOffset="30px" *ngIf="nextSurvey">You will now be redirected to participate in the follow up survey - {{nextSurvey.name}}</h2>
        <div style="position: relative" *ngIf="reloadTimerValue">
          <mat-spinner mode="determinate"
                       [color]="reloadTimerValue > 67 ? 'warn' : reloadTimerValue > 33 ? 'accent' : 'primary'"
                       [value]="reloadTimerValue"></mat-spinner>
          <h1 style="width: 100px; position: absolute; margin: auto; height: 100px; top: 0;" fxLayoutAlign="center center">
            {{ (reloadTimerMax - (reloadTimerValue / 100) * reloadTimerMax) | number:'1.0-0'  }}
          </h1>
        </div>
      </div>
      <ng-template #showSteps>
        <mat-stepper #stepper
                     orientation="vertical"
                     linear
                     [ngClass]="{'full-body': !(isHandset$ | async)}"
                     class="mat-elevation-z15"
                     [selectedIndex]="0"
                     (animationDone)="scrollToTitle(stepper.selectedIndex)">
          <mat-step *ngFor="let step of schema.steps; let i = index; first as first"
                    [stepControl]="forms[i]"
                    [completed]="step.completed">
            <ng-template matStepLabel>
              <span #title>{{step.title}}</span>
            </ng-template>
            <form [formGroup]="forms[i]" fxLayout="column" fxLayoutGap="30px">
              <h3 *ngFor="let heading of step.headings" [ngStyle]="{fontWeight: heading.bold ? 'bold' : '', textDecoration: heading.underline ? 'underline' : '', fontStyle: heading.italic ? 'italic' : ''}">{{heading.text}}</h3>
              <div *ngIf="step.questions | hideQuestions as questions; else noQuestions">
                <div *ngFor="let question of questions" style="margin-top: 30px">
                  <h2 [ngClass]="{'error-text': isTouched(question, forms[i].controls) && question.invalid && question.invalid(forms[i].value)}">
                    {{question.question}}<span *ngIf="question.invalid">&nbsp;*</span>
                  </h2>
                  <dynamic-form *ngIf="isHandset$ | async; else notHandset" [form]="forms[i]" [fields]="question.handsetFields || []"></dynamic-form>
                  <ng-template #notHandset>
                    <dynamic-form [form]="forms[i]" [fields]="question.fields"></dynamic-form>
                  </ng-template>
                </div>
              </div>
              <ng-template #noQuestions>
                <h2>No information required.</h2>
              </ng-template>
              <mat-divider></mat-divider>
              <div fxLayout="row" fxLayoutGap="10px" style="margin-top: 30px">
                <button *ngIf="!first" mat-stroked-button color="accent" (click)="back(stepper, schema)">Back</button>
                <button mat-stroked-button color="accent" (click)="next(stepper, schema)">Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step state="review">
            <ng-template matStepLabel>Review & Submit</ng-template>
            <h2>Please submit to complete the survey.</h2>
            <div fxLayout="column" fxLayoutGap="20px">
              <div fxLayout="row" fxLayoutGap="10px">
                <button mat-stroked-button color="accent" (click)="back(stepper, schema)">Back</button>
                <button mat-stroked-button color="warn" (click)="reset(stepper)">Reset</button>
              </div>
              <button mat-raised-button color="primary" (click)="submit(schema)">Submit</button>
            </div>
          </mat-step>
          <ng-template matStepperIcon="review">
            <mat-icon>grading</mat-icon>
          </ng-template>
        </mat-stepper>
      </ng-template>
    </ng-template>
  </div>
</div>
