.mat-stroked-button, .mat-raised-button {
  height: 50px;
  width: 150px;
  font-size: 30px;
}

::ng-deep .mat-vertical-stepper-header {
  pointer-events: none !important;
}

mat-stepper {
  border-radius: 4px;
}

.error-text {
  color: red;
}

mat-card-title {
  margin-bottom: 20px;
}

.btn-card {
  cursor: pointer;
  transition: transform 150ms ease-in-out;

  .mat-icon {
    height: 34px;
    width: 34px;
    font-size: 34px;
  }

  &:hover {
    transform: scale(1.02);
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);
  }
}
