<div fxFlexFill fxLayout="column" fxLayoutGap="10px" style="padding: 16px">
  <div class="nav toolbar" fxLayout="row">
    <div fxFlex *ngIf="employeeIndex as index">
      <div fxFlex *ngIf="allEmployees$ | async as employees">
        <div *ngIf="employees.length" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
          <button mat-raised-button [disabled]="employees.length < 2 || index === 1" (click)="cycleTo(employees, index - 2)">Previous</button>
          <div style="text-align: center">Displaying record {{index}} of {{employees.length}} records shown in call list page</div>
          <button mat-raised-button [disabled]="employees.length < 2 || index === employees.length" (click)="cycleTo(employees, index)">Next</button>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" style="overflow: auto">
    <app-toolbar-buttons [buttons]="toolbarButtons"></app-toolbar-buttons>
  </div>
  <div fxLayout="column" *ngIf="employee">
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-icon [style.color]="statusColor" [matTooltip]="employee.participationStatus" style="margin-bottom: 8px">circle</mat-icon>
      <h1 style="margin: 0 0 5px 8px">{{employee.firstName}} {{employee.lastName}}</h1>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <dynamic-form [fields]="participationStatusFields" [model]="employee" [form]="form"></dynamic-form>
      <button *ngIf="canEdit; else cannotEdit" mat-raised-button color="primary" [disabled]="disableSave" (click)="save(employee)">Save</button>
      <ng-template #cannotEdit>
        This employee is {{employee.username ? ('assigned to ' + employee.username) : 'not currently assigned'}}
      </ng-template>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div fxFlex style="overflow: auto" *ngIf="employee; else loadingEmployee">
    <mat-grid-list *ngIf="gridColumns$ | async as cols" [cols]="cols" rowHeight="79px">
      <mat-grid-tile rowspan="14">
        <mat-card class="mat-elevation-z2" fxLayout="column">
          <mat-card-header>
            <mat-card-title>Contact Information</mat-card-title>
          </mat-card-header>
          <dynamic-form [fields]="fields" [form]="form" [model]="employee"></dynamic-form>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile rowspan="7">
        <mat-card class="mat-elevation-z2" fxLayout="column">
          <mat-card-header>
            <mat-card-title>Contacts with Employee (recent first)</mat-card-title>
          </mat-card-header>
          <app-employee-contact fxFlex [employee]="employee"></app-employee-contact>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile rowspan="7">
        <mat-card class="mat-elevation-z2" fxLayout="column">
          <mat-card-header>
            <mat-card-title>Events</mat-card-title>
          </mat-card-header>
          <app-events fxFlex [employee]="employee"></app-events>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile rowspan="8">
        <mat-card class="mat-elevation-z2" fxLayout="column">
          <mat-card-header>
            <mat-card-title>Documents</mat-card-title>
          </mat-card-header>
          <app-documents [employee]="employee" fxFlex></app-documents>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile rowspan="8">
        <mat-card class="mat-elevation-z2" fxLayout="column">
          <mat-card-header>
            <mat-card-title>Surveys</mat-card-title>
          </mat-card-header>
          <app-survey-responses fxFlex [employee]="employee"></app-survey-responses>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <ng-template #loadingEmployee>
    <div fxFlex fxLayoutAlign="center center">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
