<mat-card *ngIf="user$ | async as user">
  <mat-card-title>My Profile</mat-card-title>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let prop of user | keyvalue:compare; last as last">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
          <div style="font-weight: bold">{{prop.key | startCase}}</div>
          <div>{{prop.value}}</div>
        </div>
        <mat-divider *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="changePassword(user)">Change Password</button>
  </mat-card-actions>
</mat-card>
