<div *ngIf="isSuperAdmin$ | async" fxLayoutAlign="start center" style="margin: 16px 0 -20px 16px">
  <dynamic-form [fields]="[[portalSelection]]" [model]="state"></dynamic-form>
</div>
<mat-card>
  <mat-card-title>My Profile</mat-card-title>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let prop of state?.user | keyvalue:compare; last as last">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
          <div style="font-weight: bold">{{prop.key | startCase}}</div>
          <div>{{prop.value}}</div>
        </div>
        <mat-divider *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="changePassword(state.user)" [disabled]="!state?.user">Change Password</button>
  </mat-card-actions>
</mat-card>
